@import url('icomoon79565/style.css');

.reveal pre {
  font-size: 0.9em;  /* Make the commands bigger */
  box-shadow: 3px 4px 10px rgba(0,0,0,0.6);
}
.reveal pre code {
  background-color: black;
  padding: 0.5em;
}
.reveal h1, .reveal h2, .reveal h3 {
  text-shadow: 2px 4px 10px rgba(0,0,0,0.6);
}
.reveal section img.as-is {
  background: none;
  border: none;
  box-shadow: none
}